<footer id="footer">
  <a href="#"><i class="social-icon fab fa-instagram fa-lg"></i></a>
  <a href="#"><i class="social-icon fab fa-twitter fa-lg"></i></a>
  <a href="#"><i class="social-icon fab fa-facebook-f fa-lg"></i></a>

  <p>© Copyright 2020 tiffin</p>

</footer>

</body>
</html>
