<%- include('partials/header') %>

<section id="confirm">

  <div class="confirm">
    <img class="confirm-img"src="images/confirm.png" alt="confirm">

    <h2 class= "confirm-txt">Order  Placed  Successfully</h2>

  </div>

  <div class="after-confirm">
    <button type="button" class="login-button btn-lg btn btn-default me-2">return to menu</button>
  </div>

</section>


<%- include('partials/footer')%>
