<%- include('partials/header') %>

<section id="confirm">

  <div class="confirm">
    <img class="confirm-img"src="images/confirm.png" alt="confirm">

  </div>
  
</section>


<%- include('partials/footer')%>
