
<%- include('partials/header') %>

<section id="login">

  <div class=" login">

    <h2 style = "color:#2b1d0e;">Log In</h2>

    <form>

      <div class="form-floating login-input">
        <label for="username">User Name</label>
        <input type="text" class="form-control" id="username" placeholder="User Name">

      </div>

      <div class="form-floating login-input">
        <label for="floatingPassword">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">

      </div>




      <button class=" btn btn-lg btn-default submit-button " type="submit">Log in</button>

    </form>

  </div>
</section>



<%- include('partials/footer')%>
