
<%- include('partials/header') %>

<section id="login">

  <div class=" login">

    <h1 style = "color:#2b1d0e;"class="h3 mb-3 fw-normal">Login</h1>

    <form>

      <div class="form-floating login-input">
        <label for="name">User Name</label>
        <input type="text" class="form-control" id="name" placeholder="User Name">

      </div>


      </div>

      <div class="form-floating login-input">
        <label for="floatingPassword">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">

      </div>


      <button class=" btn btn-lg btn-default submit-button " type="submit">Login </button>

    </form>

  </div>
</section>



<%- include('partials/footer')%>
