<%- include('partials/header') %>

<section id="login">

  <div class=" login">

    <h2 style = "color:#2b1d0e;">Please sign in</h2>

    <form>

      <div class="form-floating login-input">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name">

      </div>

      <div class="form-floating login-input">
        <label for="username">User Name</label>
        <input type="text" class="form-control" id="username" placeholder="User Name">

      </div>



      <div class="form-floating login-input">
        <label for="phoneNo">Phone Number</label>
        <input type="number" class="form-control" id="phoneNo" placeholder="Phone Number">

      </div>

      <div class="form-floating login-input">
        <label for="floatingPassword">Address</label>
        <input type="text" class="form-control" id="address" placeholder="Address">

      </div>

      <div class="form-floating login-input">
        <label for="floatingPassword">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">

      </div>

      <div class="form-floating login-input">
        <label for="floatingPassword">Re-Enter Password</label>
        <input type="password" class="form-control" id="reEnterPassword" placeholder="Re-enter Password">

      </div>


      <button class=" btn btn-lg btn-default submit-button " type="submit">Sign in</button>

    </form>

  </div>
</section>


<%- include('partials/footer')%>
